.c-card {
  $bem-parent: &;
  /* background-color: $color-white; */
  height: 100%;
  z-index: 1;

  a {
    color: $color-black;
    font-weight: 300;
    height: 100%;
    display: block;
    overflow: hidden;
    text-decoration: none;
  }

  &__image  {
    line-height: 0;

    img {
      max-height: 250px;
      object-fit: cover;
      width: 100%;
      transition: opacity .2s ease-out;
    }
  }

  &__title {
    border-top: 2px solid $color-primary;
    border-right: 1px solid $color-gray-light;
    border-left: 1px solid $color-gray-light;
    padding: $spacing-md;
    margin: 0;
  }

  &__description {
    border-top: 1px solid $color-gray-light;
    border-right: 1px solid $color-gray-light;
    border-left: 1px solid $color-gray-light;
    padding: $spacing-md;
  }

  &__read-more {
    width: 100%;
    padding: 0 $spacing-md $spacing-md;
    color: $color-black-light;
    font-weight: 700;
    margin-top: auto;
    align-self: flex-end;
    border: 1px solid $color-gray-light;
    border-top: 0;
    transition: color .2s ease-out;

    &::after {
      content: '\00BB';
      color: $color-primary;
      margin-left: 5px;
    }
  }

  &:hover {
    .c-card__image {
      img {
        opacity: .85;
      }
    }

    .c-card__read-more {
      color: $color-primary;
    }
  }
}
