<div class="c-card">
  <a href="{{ link }}">
    <div class="c-card__image"><img src="{{ image }}"/></div>
    <h4 class="c-card__title">{{ title }}</h4>
    <div class="c-card__description">{{ description }}</div>
    <div class="c-card__read-more">{{ 'Read more'|t }}</div>
  </a>
</div>
