{#
 # Creates a new color list for each color type.
 # Basic logic:
 #   1. Get sass variable name and slice the color category name.
 #      - E.g. IF class name is "$color-primary-dark", then category name is "primary".
 #   2. Check if current color type differs from previous.
 #      - If true, then create a new list for the color type.
 #      - If false, add the color's accent.
 #}
 <h2>colorname: {{ colorName }} and colorValue: {{ colorValue }}</h2>
 <div class="colors">
    <div class="color">
      <div class="color__swatch" style="background: {{ colorValue }}; width: 300px; height: 100px;"></div>
      <div class="color__info">
        <div class="hex-value"><strong>{{ colorValue|upper }}</strong></div>
        <div class="sass-name">{{ colorName }}</div>
      </div>
    </div>
</div>
