{# Ternary operators: https://github.com/twigjs/twig.js/issues/507 #}
{% set modifiers = [
  isDark ? 'c-card-wv--is-dark' : '',
  hasMedia ? 'c-card-wv--has-media' : ''
] %}

<div class="c-card-wv {{ modifiers|join(' ')}}">
  <a href="{{ link }}">
    {% if hasMedia %}
      <div class="c-card-wv__image"><img src="{{ image }}"/></div>
    {% endif %}
    <h4 class="c-card-wv__title">{{ title }}</h4>
    <div class="c-card-wv__description">{{ description }}</div>
  </a>
</div>
